* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h4 {
  font-family: "Shrikhand", cursive;
  color: white;
}

footer h2 {
  color: #dedede;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.header {
  display: block;
  text-align: center;
}
.header__title {
  padding: 20px 0 10px;
  box-shadow: 0px 3px 3px rgba(128, 128, 128, 0.3);
  margin: 0;
}
.header__location {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
  font-weight: bold;
}
.header__location i {
  padding-right: 15px;
}
.header a {
  text-decoration: none;
}

.title__btn {
  margin-block: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(to top, #9356dc, #ff79da 100%);
  border: none;
  padding: 15px 20px;
  font-weight: bold;
}

.title {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px 20px;
}
.title h2 {
  margin: 10px 25px;
}
.title p {
  font-size: 18px;
  font-weight: 300;
}

.functioning {
  margin: 20px;
}
.functioning__btn {
  display: block;
  border-radius: 15px;
  border: none;
  background-color: #f6f6f6;
  box-shadow: 0 3px 8px 2px #dedede;
  padding: 30px 0;
  width: 100%;
  height: 75px;
  text-align: start;
  margin: 15px 0px;
  position: relative;
  font-weight: bold;
}
.functioning__btn__number {
  color: white;
  border-radius: 100%;
  background-color: #9356dc;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 28px;
  left: -12px;
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
}
.functioning__btn i {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 18px;
  color: gray;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.restaurants__flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.restaurant__card {
  margin: 0 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 9px 20px #dedede;
  overflow: hidden;
}
.restaurant__card img {
  max-height: 175px;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.restaurant__card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  padding: 15px;
  background-color: white;
}
.restaurant__card__title p {
  font-weight: 300;
}
.restaurant__card__new {
  background-color: #99e2d0;
  position: absolute;
  color: #008766;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
}
.restaurant__card__heart {
  font-size: 24px;
}

.footer {
  background-color: #353535;
}
.footer__container {
  color: #dedede;
  padding: 20px;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}
.footer ul a {
  color: #dedede;
}
.footer ul i {
  padding-right: 10px;
  font-size: 13px;
  line-height: 1.3;
}
