* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h4 {
  font-family: "Shrikhand", cursive;
  color: white;
}

footer h2 {
  color: #dedede;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.menu__title h2 {
  font-family: "Shrikhand", cursive;
}

.header {
  display: block;
  text-align: center;
}
.header__title {
  padding: 20px 0 10px;
  box-shadow: 0px 3px 3px rgba(128, 128, 128, 0.3);
  margin: 0;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.14);
  padding: 15px;
  font-weight: bold;
}
.header__location i {
  padding-right: 15px;
}
.header__location__search {
  border: none;
  background-color: transparent;
  width: 120px;
  font-weight: bold;
}

.title__btn {
  margin-block: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(to top, #9356dc, #ff79da 100%);
  box-shadow: 0 3px 8px 2px #dedede;
  border: none;
  padding: 15px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 700ms;
}
.title__btn:hover {
  opacity: 0.8;
}

.title {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px 20px;
}
@media screen and (min-width: 767px) {
  .title {
    background-color: #ffffff;
  }
}
.title h2 {
  margin: 10px 25px;
}
.title p {
  font-size: 18px;
  font-weight: 300;
}

.functioning {
  padding: 20px 25px 50px 25px;
}
@media screen and (min-width: 767px) {
  .functioning {
    display: block;
    padding: 20px 25px 25px 25px;
  }
}
.functioning h2 {
  padding: 15px 0;
}
@media screen and (min-width: 992px) {
  .functioning__flex {
    display: flex;
  }
}
.functioning__btn {
  display: block;
  border-radius: 15px;
  border: none;
  background-color: #f6f6f6;
  box-shadow: 0 3px 8px 2px #dedede;
  padding: 30px 0;
  width: 100%;
  height: 75px;
  text-align: start;
  transition: all 450ms;
  margin: 25px 0px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .functioning__btn {
    margin: 25px 10px;
  }
}
.functioning__btn:hover {
  background-color: #fad7f1;
}
.functioning__btn__number {
  color: white;
  border-radius: 100%;
  background-color: #9356dc;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 28px;
  left: -12px;
  text-align: center;
  line-height: 1.6;
  font-weight: normal;
}
.functioning__btn__test {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 18px;
  color: gray;
}

.restaurants {
  background-color: #f6f6f6;
}
@media screen and (min-width: 767px) {
  .restaurants {
    background-color: #ffffff;
  }
}
.restaurants__flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .restaurants__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px 60px 20px;
  }
}
.restaurants__title {
  padding: 50px 0 30px 20px;
}
@media screen and (min-width: 767px) {
  .restaurants__title {
    padding: 0px 0 30px 20px;
  }
}

.restaurant__card {
  margin: 0 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 9px 20px #dedede;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .restaurant__card {
    margin: 0;
  }
}
.restaurant__card img {
  max-height: 175px;
  height: 100%;
  object-fit: cover;
  object-position: center 62%;
}
.restaurant__card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  padding: 15px;
  background-color: white;
}
.restaurant__card__title p {
  font-weight: 300;
}
.restaurant__card__new {
  background-color: #99e2d0;
  position: absolute;
  color: #008766;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
}
.restaurant__card__heart {
  font-size: 24px;
}

.header__back {
  position: absolute;
  top: 26px;
  left: 22px;
  font-size: 25px;
}

.overlay {
  object-fit: cover;
  height: 250px;
}

.footer {
  background-color: #353535;
}
.footer__container {
  color: #dedede;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .footer__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}
.footer ul a {
  color: #dedede;
}
.footer ul i {
  padding-right: 10px;
  font-size: 13px;
  line-height: 1.3;
}
