.title {
  background-color: #f6f6f6;
  text-align: center;
  padding: 55px;
}
.functioning {
  margin: 20px;
  &__btn {
    display: block;
    @include functioning-btn;
    margin: 15px 0px;
    position: relative;
    font-weight: bold;
    &__number {
      color: white;
      border-radius: 100%;
      background-color: $primarycolor;
      position: absolute;
      height: 24px;
      width: 24px;
      top: 28px;
      left: -12px;
      text-align: center;
      line-height: 1.6;
    }
    & i {
      margin-left: 30px;
      margin-right: 20px;
      font-size: 18px;
      color: gray;
    }
  }
}
.restaurants {
  background-color: #f6f6f6;
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.restaurant__card {
  margin: 0 20px;
  position: relative;
  @include card-border;
  & img {
    max-height: 174px;
    height: 100%;
    object-fit: cover;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    @include card-title;
  }
  &__new {
    @include new;
  }
  &__heart {
    font-size: 24px;
  }
}
