.title {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px 20px;
  @include tablet-only {
    background-color: #ffffff;
  }
  & h2 {
    margin: 10px 25px;
  }
  & p {
    font-size: 18px;
    font-weight: 300;
  }
}
.functioning {
  padding: 20px 25px 50px 25px;
  @include tablet-only {
    display: block;
    padding: 20px 25px 25px 25px;
  }
  & h2 {
    padding: 15px 0;
  }
  @include desktop-only {
    &__flex {
      display: flex;
    }
  }
  &__btn {
    display: block;
    @include functioning-btn;
    margin: 25px 0px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #fad7f1;
      i {
        color: $primarycolor;
      }
    }
    @include desktop-only {
      margin: 25px 10px;
    }

    &__number {
      color: white;
      border-radius: 100%;
      background-color: $primarycolor;
      position: absolute;
      height: 24px;
      width: 24px;
      top: 28px;
      left: -12px;
      text-align: center;
      line-height: 1.6;
      font-weight: normal;
    }
    & i {
      margin-left: 30px;
      margin-right: 20px;
      font-size: 18px;
      color: gray;
    }
  }
}

.restaurants {
  background-color: #f6f6f6;
  @include tablet-only {
    background-color: #ffffff;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
    @include tablet-only {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 20px 60px 20px;
    }
  }

  &__title {
    padding: 50px 0 30px 20px;
    @include tablet-only {
      padding: 0px 0 30px 20px;
    }
  }
}

.restaurant__card {
  margin: 0 20px;
  position: relative;
  @include card-border;
  @include tablet-only {
    margin: 0;
  }
  & img {
    max-height: 175px;
    height: 100%;
    object-fit: cover;
    object-position: center 62%;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include card-title;
  }
  &__title p {
    font-weight: 300;
  }
  &__new {
    @include new;
  }
  &__heart {
    position: relative;
    height: 40px;
    &:hover {
      .restaurant__card__heart--1 {
        animation: 400ms fadingHeart cubic-bezier(0.4, 0, 1, 0.6) both;
      }
      .restaurant__card__heart--2 {
        animation: 400ms scalingHeart cubic-bezier(0.4, 0, 1, 0.6) both;
      }
    }

    &--1 {
      font-size: 28px;
      opacity: 1;
    }
    &--2 {
      background: linear-gradient(to bottom, $primarycolor 25%, $secondarycolor 100%);
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 11px;
      position: absolute;
      bottom: 15px;
      left: 8px;
      color: transparent;
      transform: scale(0);
      opacity: 1;
    }
  }
}
