.header__back {
  position: absolute;
  top: 26px;
  left: 22px;
  font-size: 25px;
}
.overlay {
  position: absolute;
  object-fit: cover;
  height: 250px;
  z-index: -1;
}
.main {
  &__title {
    font-family: "Shrikhand", cursive;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 210px;
    &__heart {
      font-size: 25px;
    }
  }
}
.food {
  background-color: #f6f6f6;
  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include desktop-only {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__card {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 3px 8px 2px #dedede;
    line-height: 1.4;
    margin: 15px 5px;
    cursor: pointer;
    &__body {
      display: flex;
      justify-content: space-between;
    }
    &__check {
      display: none;
    }
  }
  &__btn {
    @include btn;
    padding: 15px 60px;
  }
}
span {
  font-weight: bold;
}
/*.food__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/
