.header__back {
  position: absolute;
  top: 26px;
  left: 22px;
  font-size: 25px;
}
.overlay {
  position: absolute;
  object-fit: cover;
  height: 250px;
  z-index: -1;
}
.main {
  &__title {
    font-size: 20px;
    font-family: "Shrikhand", cursive;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    padding: 35px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 210px;
    @include tablet-only {
      padding: 35px;
    }
    &__heart {
      font-size: 25px;
    }
  }
}
.food {
  &__cards {
    background: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include tablet-only {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-only {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__entries,
    &__dish,
    &__dessert {
      padding: 10px;
      min-width: 30%;
      &__title {
        font-weight: normal;
        font-weight: 300;
        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 45px;
          background: $tetiarycolor;
        }
      }
    }
  }
  &__card {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 3px 8px 2px #dedede;
    line-height: 1.4;
    margin: 15px 0;
    height: 75px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      .food__card__body {
        width: calc(100% - 75px);
      }
      .food__card__body__check i {
        animation: rotate-check 370ms ease-in forwards;
      }
    }

    &__body {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px;
      transition: width 350ms ease-in-out;
      &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
      &__text {
        display: flex;
        justify-content: space-between;
        font-weight: 300;

        & p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
          font-size: 16px;
        }
      }
      &__check {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        background: #99e2d0;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
  &__btn {
    @include btn;
    padding: 15px 50px;
    margin: 35px auto 85px auto;
    cursor: pointer;
    height: 48px;
    transition: all 700ms;

    @include tablet-only {
      margin: auto;
    }
    @include desktop-only {
      grid-column-start: 2;
      margin: 30px auto 55px auto;
    }

    &:hover {
      opacity: 0.8;
      box-shadow: 0 3px 3px 3px #c0c0c0;
    }
  }
}
/*apparition menu food for restaurant page*/
#apparition-menu-1 {
  animation: 250ms 100ms linear apparition-menu-animation both;
}

#apparition-menu-2 {
  animation: 350ms 200ms linear apparition-menu-animation both;
}
#apparition-menu-3 {
  animation: 350ms 300ms linear apparition-menu-animation both;
}

#apparition-menu-4 {
  animation: 350ms 400ms linear apparition-menu-animation both;
}

#apparition-menu-5 {
  animation: 350ms 500ms linear apparition-menu-animation both;
}

#apparition-menu-6 {
  animation: 350ms 600ms linear apparition-menu-animation both;
}

#apparition-menu-7 {
  animation: 350ms 700ms linear apparition-menu-animation both;
}

#apparition-menu-8 {
  animation: 350ms 800ms linear apparition-menu-animation both;
}

#apparition-menu-9 {
  animation: 350ms 900ms linear apparition-menu-animation both;
}

#apparition-menu-10 {
  animation: 350ms 1s linear apparition-menu-animation both;
}
