.title {
  &__btn {
    margin-block: 20px;
    @include btn;
    font-weight: bold;
    cursor: pointer;
    transition: all 700ms;
    &:hover {
      opacity: 0.8;
      box-shadow: 0 3px 3px 3px #c0c0c0;
    }
  }
}
