@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");

h1 {
  font-family: "Shrikhand", cursive;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Shrikhand", cursive;
  color: white;
}
footer h1 {
  color: white;
  font-size: 18px;
}
