@keyframes scalingHeart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2.6);
  }
}
@keyframes fadingHeart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning-stop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
